<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Shop</display-name>
    
    <!-- MySQL JDBC Cleanup Listener -->
    <listener>
        <listener-class>toan.dev.data.driver.MysqlJdbcCleanupListener</listener-class>
    </listener>
    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceRequestEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>forceResponseEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <!-- Cấu hình servlet Home -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>toan.dev.HomeServlet</servlet-class>
    </servlet>

    <!--Cấu hình admin-->
    <!-- Cấu hình admin hotel -->
    <servlet>
        <servlet-name>IndexHotelServlet</servlet-name>
        <servlet-class>toan.dev.admin.Hotel.IndexHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateHotelServlet</servlet-name>
        <servlet-class>toan.dev.admin.Hotel.CreateHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHotelServlet</servlet-name>
        <servlet-class>toan.dev.admin.Hotel.EditHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHotelServlet</servlet-name>
        <servlet-class>toan.dev.admin.Hotel.DeleteHotelServlet</servlet-class>
    </servlet>
    <!--cấu hình admin banner-->
    <servlet>
        <servlet-name>CreateBannerServlet</servlet-name>
        <servlet-class>toan.dev.admin.banners.CreateBannerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBannerServlet</servlet-name>
        <servlet-class>toan.dev.admin.banners.DeleteBannerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBannerServlet</servlet-name>
        <servlet-class>toan.dev.admin.banners.EditBannerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexBannerServlet</servlet-name>
        <servlet-class>toan.dev.admin.banners.IndexBannerServlet</servlet-class>
    </servlet>
    <!--Cấu hình admin category-->
    <servlet>
        <servlet-name>IndexCategoryServlet</servlet-name>
        <servlet-class>toan.dev.admin.category.IndexCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>toan.dev.admin.category.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>toan.dev.admin.category.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <servlet-class>toan.dev.admin.category.CreateCategoryServlet</servlet-class>
    </servlet>
    <!--Cấu hình admin category gallery-->
    <servlet>
        <servlet-name>IndexCategoryGalleryServlet</servlet-name>
        <servlet-class>toan.dev.admin.CategoryGallery.IndexCategoryGalleryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryGalleryServlet</servlet-name>
        <servlet-class>toan.dev.admin.CategoryGallery.CreateCategoryGalleryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryGalleryServlet</servlet-name>
        <servlet-class>toan.dev.admin.CategoryGallery.EditCategoryGalleryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryGalleryServlet</servlet-name>
        <servlet-class>toan.dev.admin.CategoryGallery.DeleteCategoryGalleryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>toan.dev.admin.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>toan.dev.ProfileServlet</servlet-class>
    </servlet>
    
    <!-- Account Management Servlets -->
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>toan.dev.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>toan.dev.ChangePasswordServlet</servlet-class>
    </servlet>
    <!--Cấu hình admin blog-->
    <servlet>
        <servlet-name>IndexBlogServlet</servlet-name>
        <servlet-class>toan.dev.admin.Blogs.IndexBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBlogServlet</servlet-name>
        <servlet-class>toan.dev.admin.Blogs.CreateBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogServlet</servlet-name>
        <servlet-class>toan.dev.admin.Blogs.EditBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <servlet-class>toan.dev.admin.Blogs.DeleteBlogServlet</servlet-class>
    </servlet>
    
    <!--Cấu hình admin products-->
    <servlet>
        <servlet-name>IndexProductsServlet</servlet-name>
        <servlet-class>toan.dev.admin.products.IndexProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>toan.dev.admin.products.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>toan.dev.admin.products.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>toan.dev.admin.products.DeleteProductServlet</servlet-class>
    </servlet>
    <!--Cấu hình admin user-->
    <servlet>
        <servlet-name>IndexUserServlet</servlet-name>
        <servlet-class>toan.dev.admin.user.IndexUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>toan.dev.admin.user.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>toan.dev.admin.user.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>toan.dev.admin.user.DeleteUserServlet</servlet-class>
    </servlet>
    <!--Cấu hình admin tour-->
    <servlet>
        <servlet-name>IndexTourServlet</servlet-name>
        <servlet-class>toan.dev.admin.Tours.IndexTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTourServlet</servlet-name>
        <servlet-class>toan.dev.admin.Tours.CreateTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTourServlet</servlet-name>
        <servlet-class>toan.dev.admin.Tours.EditTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTourServlet</servlet-name>
        <servlet-class>toan.dev.admin.Tours.DeleteTourServlet</servlet-class>
    </servlet>
    <!--Cấu hình admin destinations-->
    <servlet>
        <servlet-name>IndexDestinationsServlet</servlet-name>
        <servlet-class>toan.dev.admin.Destinations.IndexDestinationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDestinationsServlet</servlet-name>
        <servlet-class>toan.dev.admin.Destinations.CreateDestinationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDestinationsServlet</servlet-name>
        <servlet-class>toan.dev.admin.Destinations.EditDestinationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDestinationsServlet</servlet-name>
        <servlet-class>toan.dev.admin.Destinations.DeleteDestinationsServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DestinationServlet</servlet-name>
        <servlet-class>toan.dev.DestinationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>toan.dev.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>toan.dev.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>toan.dev.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestinationServlet</servlet-name>
        <url-pattern>/DestinationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/ProfileServlet</url-pattern>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    
    <!-- Account Management Mappings -->
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
        <url-pattern>/account/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
        <url-pattern>/account/change-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/BlogDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blog-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/AboutServlet</url-pattern>
    </servlet-mapping>

     <!--cấu hình admin banner-->
    <servlet-mapping>
        <servlet-name>CreateBannerServlet</servlet-name>
        <url-pattern>/CreateBannerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBannerServlet</servlet-name>
        <url-pattern>/DeleteBannerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBannerServlet</servlet-name>
        <url-pattern>/EditBannerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexBannerServlet</servlet-name>
        <url-pattern>/IndexBannerServlet</url-pattern>
    </servlet-mapping>

    <!-- Cấu hình admin hotel -->
    <servlet-mapping>
        <servlet-name>IndexHotelServlet</servlet-name>
        <url-pattern>/IndexHotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateHotelServlet</servlet-name>
        <url-pattern>/CreateHotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHotelServlet</servlet-name>
        <url-pattern>/EditHotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHotelServlet</servlet-name>
        <url-pattern>/DeleteHotelServlet</url-pattern>
    </servlet-mapping>

    <!--Cấu hình admin category-->
    <servlet-mapping>
        <servlet-name>IndexCategoryServlet</servlet-name>
        <url-pattern>/IndexCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/EditCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/DeleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <url-pattern>/CreateCategoryServlet</url-pattern>
    </servlet-mapping>
    <!--Cấu hình admin category gallery-->
    <servlet-mapping>
        <servlet-name>IndexCategoryGalleryServlet</servlet-name>
        <url-pattern>/IndexCategoryGalleryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryGalleryServlet</servlet-name>
        <url-pattern>/CreateCategoryGalleryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryGalleryServlet</servlet-name>
        <url-pattern>/EditCategoryGalleryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryGalleryServlet</servlet-name>
        <url-pattern>/DeleteCategoryGalleryServlet</url-pattern>
    </servlet-mapping>
    <!--Cấu hình admin blog-->
    <servlet-mapping>
        <servlet-name>IndexBlogServlet</servlet-name>
        <url-pattern>/IndexBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBlogServlet</servlet-name>
        <url-pattern>/CreateBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogServlet</servlet-name>
        <url-pattern>/EditBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <url-pattern>/DeleteBlogServlet</url-pattern>
    </servlet-mapping>
    
    <!--Cấu hình admin products-->
    <servlet-mapping>
        <servlet-name>IndexProductsServlet</servlet-name>
        <url-pattern>/IndexProductsServlet</url-pattern>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
        <url-pattern>/admin/products/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
        <url-pattern>/admin/products/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
        <url-pattern>/admin/products/delete</url-pattern>
    </servlet-mapping>
    <!--Cấu hình admin user-->
    <servlet-mapping>
        <servlet-name>IndexUserServlet</servlet-name>
        <url-pattern>/IndexUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <!--Cấu hình admin tour-->
    <servlet-mapping>
        <servlet-name>IndexTourServlet</servlet-name>
        <url-pattern>/IndexTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTourServlet</servlet-name>
        <url-pattern>/CreateTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTourServlet</servlet-name>
        <url-pattern>/EditTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTourServlet</servlet-name>
        <url-pattern>/DeleteTourServlet</url-pattern>
    </servlet-mapping>
    <!--Cấu hình admin destinations-->
    <servlet-mapping>
        <servlet-name>IndexDestinationsServlet</servlet-name>
        <url-pattern>/IndexDestinationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDestinationsServlet</servlet-name>
        <url-pattern>/CreateDestinationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDestinationsServlet</servlet-name>
        <url-pattern>/EditDestinationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDestinationsServlet</servlet-name>
        <url-pattern>/DeleteDestinationsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>

    <!-- Let default servlet serve static resources under /assets/* -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/lib/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>

    <!-- Public site servlet mappings -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>toan.dev.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>toan.dev.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>toan.dev.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>toan.dev.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>toan.dev.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalleryServlet</servlet-name>
        <servlet-class>toan.dev.GalleryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesServlet</servlet-name>
        <servlet-class>toan.dev.ServicesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/BlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GalleryServlet</servlet-name>
        <url-pattern>/gallery.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesServlet</servlet-name>
        <url-pattern>/ServicesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesServlet</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>

    <!-- Products By Category Servlet -->
    <servlet>
        <servlet-name>ProductsByCategoryServlet</servlet-name>
        <servlet-class>toan.dev.ProductsByCategoryServlet</servlet-class>
    </servlet>

    <!-- Contact Servlet -->
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>toan.dev.ContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductsByCategoryServlet</servlet-name>
        <url-pattern>/ProductsByCategoryServlet</url-pattern>
        <url-pattern>/products</url-pattern>
        <url-pattern>/tours</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>

    <!-- Cart Servlets -->
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>toan.dev.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>toan.dev.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>toan.dev.UpdateCartServlet</servlet-class>
    </servlet>

    <!-- Booking Servlet -->
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>toan.dev.BookingServlet</servlet-class>
    </servlet>

    <!-- Consultation Servlet -->
    <servlet>
        <servlet-name>ConsultationServlet</servlet-name>
        <servlet-class>toan.dev.ConsultationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
        <url-pattern>/update-cart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ConsultationServlet</servlet-name>
        <url-pattern>/ConsultationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultationServlet</servlet-name>
        <url-pattern>/consultation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MyBookingsServlet</servlet-name>
        <url-pattern>/MyBookingsServlet</url-pattern>
        <url-pattern>/my-bookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyBookingServlet</servlet-name>
        <url-pattern>/ViewMyBookingServlet</url-pattern>
        <url-pattern>/my-booking-detail</url-pattern>
    </servlet-mapping>

    <!-- Admin Booking Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>IndexBookingServlet</servlet-name>
        <url-pattern>/IndexBookingServlet</url-pattern>
        <url-pattern>/admin/bookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookingServlet</servlet-name>
        <url-pattern>/admin/bookings/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookingStatusServlet</servlet-name>
        <url-pattern>/admin/bookings/updateStatus</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyBookingsServlet</servlet-name>
        <servlet-class>toan.dev.MyBookingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyBookingServlet</servlet-name>
        <servlet-class>toan.dev.ViewMyBookingServlet</servlet-class>
    </servlet>

    <!-- Admin Booking Servlets -->
    <servlet>
        <servlet-name>IndexBookingServlet</servlet-name>
        <servlet-class>toan.dev.admin.bookings.IndexBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookingServlet</servlet-name>
        <servlet-class>toan.dev.admin.bookings.ViewBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookingStatusServlet</servlet-name>
        <servlet-class>toan.dev.admin.bookings.UpdateBookingStatusServlet</servlet-class>
    </servlet>

    <!-- Admin Consultation Servlets -->
    <servlet>
        <servlet-name>IndexConsultationServlet</servlet-name>
        <servlet-class>toan.dev.admin.consultations.IndexConsultationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexConsultationServlet</servlet-name>
        <url-pattern>/IndexConsultationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexConsultationServlet</servlet-name>
        <url-pattern>/admin/consultations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteConsultationServlet</servlet-name>
        <servlet-class>toan.dev.admin.consultations.DeleteConsultationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteConsultationServlet</servlet-name>
        <url-pattern>/DeleteConsultationServlet</url-pattern>
    </servlet-mapping>

    <!-- Checkout and Order Servlets -->
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>toan.dev.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSuccessServlet</servlet-name>
        <servlet-class>toan.dev.OrderSuccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSuccessServlet</servlet-name>
        <url-pattern>/order-success</url-pattern>
    </servlet-mapping>

    <!-- Admin Order Servlets -->
    <servlet>
        <servlet-name>IndexOrderServlet</servlet-name>
        <servlet-class>toan.dev.admin.orders.IndexOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderServlet</servlet-name>
        <servlet-class>toan.dev.admin.orders.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>toan.dev.admin.orders.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexOrderServlet</servlet-name>
        <url-pattern>/IndexOrderServlet</url-pattern>
        <url-pattern>/admin/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderServlet</servlet-name>
        <url-pattern>/admin/orders/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/admin/orders/updateStatus</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewConsultationServlet</servlet-name>
        <servlet-class>toan.dev.admin.consultations.ViewConsultationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewConsultationServlet</servlet-name>
        <url-pattern>/admin/consultations/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateConsultationStatusServlet</servlet-name>
        <servlet-class>toan.dev.admin.consultations.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateConsultationStatusServlet</servlet-name>
        <url-pattern>/admin/consultations/updateStatus</url-pattern>
    </servlet-mapping>

    <!-- REST API Servlets -->
    <servlet>
        <servlet-name>TourApiServlet</servlet-name>
        <servlet-class>toan.dev.api.TourApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingApiServlet</servlet-name>
        <servlet-class>toan.dev.api.BookingApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductApiServlet</servlet-name>
        <servlet-class>toan.dev.api.ProductApiServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TourApiServlet</servlet-name>
        <url-pattern>/api/tours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingApiServlet</servlet-name>
        <url-pattern>/api/bookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductApiServlet</servlet-name>
        <url-pattern>/api/products</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
    </welcome-file-list>
</web-app>

